OPENAI_API_KEY=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
TAVILY_API_KEY=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
AWS_REGION=us-east-1
CORS_ORIGINS=["http://localhost:3000","https://your-domain.com"]
